{#
/**
 * @file
 * Default theme implementation.
 *
 * Available variables:
 * - name: Name of the multibanner.
 * - content: Multibanner content.
 *
 * @see template_preprocess_multibanner()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('banner') }}>
  {% if content.field_multibanner_image %}
    {% if layout == 'front' and content.field_multibanner_link|render %}
      <a href="{{ content.field_multibanner_link[0]['#plain_text'] }}">
    {% endif %}
    {{ content.field_multibanner_image }}
    {% if layout == 'front' and content.field_multibanner_link|render %}
      </a>
    {% endif %}
  {% endif %}
  {% if content.field_multibanner_video %}
    {{ content.field_multibanner_video }}
  {% endif %}
  {% if content.field_multibanner_video is not defined and layout != 'sync' %}
    <div class="banner-content">
      <div class="banner-content-inner">
      {% for key, value in content %}
        {% set prefix = '' %}
        {% set suffix = '' %}
        {% if key != 'field_multibanner_image' and key != 'field_multibanner_video' and key != 'field_multibanner_link' %}
          {% if key == 'name' and content.field_multibanner_link|render %}
            {% set prefix = prefix ~ '<a href="' ~ content.field_multibanner_link[0]['#plain_text'] ~ '" class="banner-link">' %}
            {% set suffix = '</a>' %}
          {% endif %}
          {{ prefix|raw }}{{ value }}{{ suffix|raw }}
        {% endif %}
      {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
