{% if attributes -%}
  <div{{ attributes }}>
{% endif %}
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}
  {% if layout == 'front' %}
    <div class="multibanner-items">
      <div class="multibanner-column">
      {% for row in rows %}
        {% if loop.index0 % 3 == 0 %}
          {% if loop.first != true %}
            </div><div class="multibanner-column">
          {% endif %}
        {% endif %}
        <div class="multibanner-item multibanner-count-{{ loop.index }}">{{ row.content }}</div>
      {% endfor %}
      </div>
    </div>
  {% else %}
    <ul{{ list.attributes }}>
      {% for row in rows %}
        <li{{ row.attributes }}>{{ row.content }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% if attributes -%}
  </div>
{% endif %}
