{% if attributes -%}
  <div{{ attributes }}>
{% endif %}
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}
  {% if layout == 'front' %}
    <div class="multibanner-items">
      {% set count = 1 %}
      <div class="multibanner-column multibanner-column-{{ count }}">
      {% for row in rows %}
        {% if loop.index0 % 3 == 0 %}
          {% if loop.first != true %}
            {% set count = count + 1 %}
            </div><div class="multibanner-column multibanner-column-{{ count }}">
          {% endif %}
        {% endif %}
        <div class="multibanner-item multibanner-count-{{ loop.index }}">{{ row.content }}</div>
      {% endfor %}
      </div>
    </div>
  {% elseif layout == 'sync' %}
    <div class="slider-pro sp-vertical">
      <div class="sp-slides">
        {% for row in rows %}
          <div class="sp-slide">
            {{ row.content }}
          </div>
        {% endfor %}
      </div>
      
      <div class="sp-thumbnails">
        {% for row in rows %}
          <div class="sp-thumbnail">
            <div class="sp-thumbnail-text">
              <div class="sp-thumbnail-description">
              {% if row.content['#multibanner'].field_multibanner_link.0.url.external %}
                <a href="{{ row.content['#multibanner'].field_multibanner_link.uri }}" class="sp-selectable">{{ row.content['#multibanner'].name[0].value }}</a>
              {% else %}
              {% set node_id = row.content['#multibanner'].field_multibanner_link.0.url.routeParameters.node %}
                {% if node_id %}
                  <a href="{{ path('entity.node.canonical', {'node': node_id}) }}" class="sp-selectable">{{ row.content['#multibanner'].name[0].value }}</a>
                {% else %}
                  {{ row.content['#multibanner'].name[0].value }}
                {% endif %}
              {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <ul{{ list.attributes }}>
      {% for row in rows %}
        <li{{ row.attributes }}>{{ row.content }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% if attributes -%}
  </div>
{% endif %}
